* {
	margin: 5px;
	box-sizing: border-box;
}

.container {
	display: flex;
}

.image-container {
	width: 75%;
	flex-shrink: 0;
	order: 1;
}

.list-container {
	width: 25%;
	flex-shrink: 0;
	order: 2;
}
