* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  /* border: 2px solid olive; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#page {
  padding: 30px;
  width: 80%;
  justify-content: space-between;
  background: hsla(31,15%,50%,.1);
  height: 100%;
}

#cat-display {
  width: 70%;
  text-align: center;
}

#image-elem {
  width: 80%;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.names-list {
  width: 30%;
  text-align: center
}